
/* Table of contents */
/* 1. basic setup colors, font etc; */



/* Basic setup */
   @import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sen:wght@400;700;800&display=swap');
   :root{
    --main_color : #FB4D16;
    
    
   }

* {
    font-family: 'Labrada', serif;
    /* font-family: 'Sen', sans-serif; */
    font-size: 18px;
}
body{
  
}

/* navbar start */
.navbar-brand{
    color: var(--main_color);
}
.navbar *:hover{color:var(--main_color);}
.active{color: var(--main_color);}
/* navbar end */