* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}

/* -----------navbar css-------------- */
header ul,
footer ul {
  list-style-type: none;
}

header a,
footer a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.fixedHeader {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}

#category_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #ECEFF1;
}

#category a:hover {
  color: #FF1744
}


div.categories {
  height: 65px;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.categories li {
  display: flex;
  margin-right: -5px;
  font-size: 1.5vw;
  height: 70%;
  align-items: center;
}

div.categories li.categ,
div.categories li.active {
  padding: 13px;
  font-weight: bold;
}

div.categories li.res_category {
  padding: 13px;
  font-weight: bold;
}

div.categories li.res_category:hover {
  cursor: pointer;
  background: linear-gradient(90deg, rgb(86, 46, 196) 0%, rgb(35, 201, 203) 100%);
  color: white;
}

div.categories li.categ:hover {
  cursor: pointer;
  background: linear-gradient(90deg, rgb(86, 46, 196) 0%, rgb(35, 201, 203) 100%);
  color: white;
}

#navleftdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category_img {
  width: 30%;
  padding: 0px 10px;
  background-color: #FAFAFA;
}

.category_img>a>img {
  margin-top: 3px;
  height: 60px;
}

#registerdiv {
  margin-right: 20px;
  border-radius: 5px;
}

#registerdiv>a {
  margin-right: 4px;
  margin-left: 4px;
  border: none;
  font-size: 18px;
  padding: 17px 15px;
  color: white;
  font-weight: bold;
  background-color: #673AB7;
  border-radius: 6px;
}

#registerdiv>a:hover {
  color: #fff;
  background-color: black;
}

/* Categories */
/* Box Dropdown */
div.boxDropdown {
  width: 50%;
  position: absolute;
  margin-top: -20px;
  margin-left: 22%;
  display: none;
  z-index: 10;
  background: rgb(209, 209, 209);
}

div.boxDropdown>div {
  display: flex;
  background: white;
  position: absolute;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  left: -15px;
  top: 0;
  flex-direction: row;
}

.category {
  padding: 0px 20px;
  width: 150px;
}

.category>ul>li {
  font-size: 15px;
  line-height: 2.5;
  font-weight: bold;
}

.dropdown_img img {
  height: 450px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dropdown_img {
  margin-bottom: -4px;
}

.workingLinks {
  font-weight: bold;
}

.boxDropdown ul li:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  transition: ease-in-out .4s;
  cursor: pointer;
  color: #FF1744;
}

/* navbar and dropdown styles ends here */

/* -------------------sidenavbar-------------- */
#hiddenside {
  display: none;
}

#sidebarcontainer {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
}

#sidebarcontainer div.category_img img {
  margin-right: 10px;
}

#sidebar .fa {
  color: #E0E0E0;
}

#sidebar .newfa {
  color: #0d0c0c;
}

#sidebar {
  display: block;
  position: fixed;
  top: 0;
  width: 230px;
  height: 100vh;
  background: #3F51B5;
  left: -230px;
  transition: .6s;
  z-index: 200;
}

#sidebar.inandout {
  left: 0;
}

#sidebar div {
  font-size: 22px;
  color: gray;
  text-align: left;

  line-height: 40px;
  user-select: none;
}

#sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 50px;
  font-size: 20px;
  color: white;
  padding-left: 30px;
  box-sizing: border-box;
  border-top: 1px solid rgb(255, 255, 255, .1);
  transition: .9s;
}

#sidebar ul li:hover {
  padding-left: 15px;
  transition: ease-in-out .4s;
  cursor: pointer;
}

#sidebar ul a i {
  margin-right: 30px;
}

.icolortoblack i {
  color: #263238;
}

.sliderbtn {
  position: absolute;
  z-index: 20;
  top: 19px;
  right: -45px;
  width: 45px;
  height: 35px;
  outline: none;
  border: none;
  transition: .4s;
}

.hamburger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 3px;
  background: #262626;
}

.hamburger::after {
  top: 12px;

}

.hamburger::before {
  top: -12px;

}

.hamburger::after,
.hamburger::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  background: #262626;
  left: 0;
  transition: .6s;
  z-index: 100;

}

.sliderbtn.active .hamburger {
  background: none;
}

.sliderbtn.active .hamburger::after {
  transform: rotate(-45deg);
  top: 0;

}

.sliderbtn.active .hamburger::before {
  transform: rotate(45deg);
  top: 0;
}

/* -------------------sidenavbar styles ends here-------------- */


/* -------------------main content of website---------------------- */
#maincontents {
  position: relative;
  margin-top: 90px;
}






/* ----------------styles for footer ----------------------- */
#footer {
  background-color: #673AB7;
  color: white;
  padding-bottom: 20px;
  margin-top: 20px;
}

#footer a {
  color: white;
}

#footer a:hover {
  color: rgb(238, 10, 124);
  transform: scale3d(1.1, 1.1, 1.1);
  transition: ease-in-out 0.4s;
}

#footersubcontainer {
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 2;
}

#footersubcontainer a {
  color: white;
  text-decoration: underline;
}

#footersubcontainer a:nth-child(2) {
  margin-left: 15px;
}

#footerbase {
  display: flex;
  justify-content: space-between;
  margin: 0px 4%;
  line-height: 2;
}

#footerbase>div:nth-child(1) {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.aboutus a {
  display: block;
}

#socilmedia {
  display: flex;
  justify-content: space-between;
}

#copyrights {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

#easypolls {
  margin-left: 15px;
}

/* -----------------media quries----------------- */


/* footer responsive */






/* -------------------mid section------------------- */

#heading {
  text-align: center;
  font-size: 20px;
  background-color: azure;
  padding: 10px;
}

.heading1 {
  width: 650px;
  height: 60px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border: 1px solid blue;
  border-radius: 20px;
  background-color: rgb(26, 115, 232);
  align-items: center;
}

.heading1 h1 {
  margin-left: 40px;
  color: antiquewhite;
  font-size: 25px;

}

#code {
  width: 250px;
  height: 40px;
  border-radius: 10px;
}

#code-btn {
  /* margin-right: 80px; */
  width: 50px;
  height: 43px;
  border-radius: 10px;
}

.heading2 {
  width: 900px;
  /* border: 1px solid blue; */
  text-align: center;
  margin: auto;
  font-size: 37px;
}

.heading3 {
  width: 600px;
  margin: auto;
  text-align: center;

}

.heading3 p {
  font-size: 20px;
}

.heading4 {
  width: 500px;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: auto;
  align-items: center;
  /* border: 1px solid blue; */
}

.heading4 button {
  padding: 15px;
  width: 230px;
  background-color: rgb(57, 172, 55);
  border: 1px solid white;
  border-radius: 10px;
  font-size: 20px;

}

.heading4 p {
  color: rgb(57, 172, 55);
  font-size: 25px;
  margin-left: 25px;
}

.heading5 {
  width: 650px;
  height: 260px;
  margin: auto;
  margin-top: 80px;
  /* border: 1px solid red; */
}

.heading6 {
  width: auto;
  height: 50px;
  margin: auto;
  margin-top: 150px;
  /* border: 1px solid red; */
}

.heading6 p {
  text-align: center;
  font-size: 22px;

}

.heading-img {
  width: 1000px;
  height: 100px;
  margin: auto;
  align-items: center;
  text-align: center;
  margin-top: 45px;
  /* border: 1px solid green; */
}

.heading-img img {
  padding: 0px 100px 0px 0px;
}

.heading7 {
  width: 90%;
  height: auto;
  border: 1px soild red;
  margin: auto;
  margin-top: 200px;
}

.heading8 {
  width: auto;
  height: 300px;
  margin: auto;
  /* border: 1px solid blue; */
}

.heading8>h1 {
  font-size: 55px;
  text-align: center;
}

.heading8>p {
  font-size: auto;
  width: 1000px;
  margin: auto;
  /* border: 1px solid red; */
  font-weight: 100;
  font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
  font-stretch: expanded;
}

.heading9 {
  width: 90%;
  height: 450px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  /* border: 1px solid green; */
}



.heading9vid video {
  height: 100%;
  width: 100%;
  /* margin-left: 20px;
  margin-right: 60px;
  margin-top: 100px; */
}

.heading9stock {
  width: 500px;
  height: 200px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* margin-left: 30px; */
  align-items: flex-start;
  text-align: start;
  /* border: 1px solid red; */
}

.heading9stock img {
  display: inline;
  margin: 30px 0px 0px 20px;
}

.heading9stock>h2 {
  display: inline;
  margin: 10px 0px 60px 0px;
}

.heading9stock>p {
  align-items: flex-start;
  font-size: 17px;
  font-weight: 100;
  text-align: justify;
  margin: 20px 18px 0px 18px;
}

.heading9stock h1 {
  padding: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.heading10 {
  display: flex;
  justify-content: space-between;
  width: 100vwpx;
  /* border: 1px solid blue; */
  text-align: start;

  margin: auto;

  margin: 0px 40px 0px 40px;
  margin-top: 40px;
}

.heading10-1 {
  background-color: rgb(245, 245, 245);
  margin-right: 10px;
  height: 200px;
}

.heading10-2 {
  background-color: rgb(245, 245, 245);
  margin-right: 10px;
}

.heading10-3 {
  background-color: rgb(245, 245, 245);
  margin-right: 10px;
}

.heading10-1 img {
  margin-left: 15px;

}

.heading10-1 h2 {
  margin-left: 15px;

}

.heading10-1 p {
  margin-left: 15px;

}

.heading10-2 img {
  margin-left: 15px;

}

.heading10-2 h2 {
  margin-left: 15px;

}

.heading10-2 p {
  margin-left: 15px;

}

.heading10-3 img {
  margin-left: 15px;

}

.heading10-3 h2 {
  margin-left: 15px;

}

.heading10-3 p {
  margin-left: 15px;
  font-size: 16px;
}

.heading11 {
  width: 1000px;
  height: 200px;
  display: grid;
  margin: auto;
  /* justify-content: space-around; */
  grid-template-columns: repeat(3, 1fr);
  margin-top: 60px;
  gap: 100px;
  /* border: 1px solid blue; */
}

.heading11 img {
  /* border: 1px solid red; */
  width: 200px;
  height: 200px;
  /* margin-left: 70px; */

}

.heading12 {
  width: 1000px;
  margin: auto;
  text-align: center;
  margin-top: 90px;
}

.heading12>h1 {
  font-size: 55px;
}

.heading13 {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  margin-top: 75px;
  /* border: 1px solid blue; */
}

.heading13im {
  width: 400px;
}

.heading13im {
  font-size: 25px;
}

.heading13img>img {
  height: 300px;
}

.heading14 {
  display: flex;
  /* justify-self: start; */
  justify-content: space-evenly;
  height: 160px;
  width: 100%;
  margin: auto;
  text-align: center;

  align-items: center;
  background-color: rgb(245, 245, 245);
  margin-top: 70px;
}


.heading15>button {
  padding: 15px 30px 15px 30px;
  border-radius: 8px;
  border: 1px solid white;
}

.heading16 {
  text-align: center;
  height: 100px;
  font-size: 24px;
  background-color: rgb(245, 245, 245);
}

.heading17 {
  width: 100%;
  height: 370px;
  margin: auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(245, 245, 245);
}

.heading17 img {
  width: 95%;
  height: 270px;
}

.heading17-1 h2 {
  font-size: 16px;
  text-align: justify;
}



.heading14 img {
  /* width: 80%; */
  /* align-items: center; */
  /* padding-left: 70px; */
  /* margin-right: 20px; */

  margin-top: 15px;
}

.heading15 {
  width: 100%;
  height: 400px;
  text-align: center;
  margin: auto;
  align-items: center;
  background-color: rgb(57, 172, 55);
}

.heading15>h1 {
  /* width: 200px; */
  text-align: center;
  align-self: center;
  color: whitesmoke;
  padding-top: 150px;
  font-size: 60px;
}


@media screen and (max-width: 650px) {
  body {
    font-size: 14px;
  }

  #fixedheadertop {
    display: none;
  }

  #hiddenside {
    display: block;
  }

  div.categories li {
    font-size: 4vw;
  }

  #footersubcontainer div {
    display: block;
    margin-top: 10px;
  }

  #footerbase {
    flex-direction: column;
    margin: 0;
    text-align: center;
  }

  #footerbase>div:nth-child(1) {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  #footerbase>div:nth-child(1) .aboutus {
    margin-bottom: 20px;
  }

  #socilmedia {
    margin-bottom: 20px;
  }





  .heading1 {
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: 1px solid blue;
    border-radius: 20px;
    background-color: rgb(26, 115, 232);
    align-items: center;
  }

  #code {
    width: 50%;
    height: 40px;
    border-radius: 10px;
  }

  .heading1 h1 {
    margin-left: 40px;
    color: antiquewhite;
    font-size: 25px;
  }


  .heading2 {
    width: 90%;
    /* border: 1px solid blue; */
    text-align: center;
    margin: auto;
    font-size: 37px;
  }

  .heading-img {
    /* width: 1000px;
  height: 100px;
  margin: auto;
  align-items: center;
  text-align: center;
  margin-top: 45px; */
    /* border: 1px solid green; */
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* display: flex;   */
    /* align-items: center;
    justify-content: center; */
  }
  .heading-img img{
    padding: 0px 50px 0px 50px;
    display: block;
    align-self: center;
  }

  .heading9 {
    width: 90%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    /* border: 1px solid green; */
}

.heading10 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:90%;
  /* border: 1px solid blue; */
  text-align: start;
  /* margin: auto; */
  margin: 200px auto 0px auto;
  /* margin-top: 40px; */
}

.heading11 {
  width: 90%;
  height: 200px;
  display: grid;
  margin: auto;
  /* justify-content: space-around; */
  grid-template-columns: repeat(1, 1fr);
  margin-top: 60px;
  margin-bottom: 700px;
  gap: 100px;
  /* border: 1px solid blue; */
}
.heading11 img{
  display: block;
  margin: auto;
}

.heading12 {
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 90px;
}

.heading17 {
  width: 100%;
  height: 370px;
  margin-top: 300px;
  margin-bottom: 300px;
  /* margin: auto; */
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(245, 245, 245);
}
.heading16 {
  margin-top: 100px;
  /* text-align: center;
  height: 100px;
  font-size: 24px;
  background-color: rgb(245, 245, 245); */
}

}

iframe {
  width: 90%;
  height: 300px;
}