:root{
    --main-color:#673AB7;
    --background:#f3f3f3;

} 

body *{
    
}

/* additional */
body{
    background-color: #f8f9fa!important;
    margin-top:20px;
}

.text-custom,
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:active,
.navbar-custom .navbar-nav li.active a,
.service-box .services-icon,
.price-features p i,
.faq-icon,
.social .social-icon:hover {
    color: var(--main-color) !important;
}

.bg-custom,
.btn-custom,
.timeline-page .timeline-item .date-label-left::after,
.timeline-page .timeline-item .duration-right::after,.back-to-top:hover {
    background-color: var(--main-color);
}

.btn-custom,
.custom-form .form-control:focus,
.social .social-icon:hover,
.registration-input-box:focus {
    border-color: var(--main-color);
}

.service-box .services-icon,
.price-features p i {
    background-color: rgba(246, 87, 110, 0.1);
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
    border-color: var(--main-color);
    background-color: var(--main-color);
}


.price-box {
    padding: 40px 50px;
}

.plan-price h1 span {
    font-size: 16px;
    color: #000;
}

.price-features p i {
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    border-radius: 50%;
    margin-right: 20px;
}
.btn-custom{
   background-color: var(--main-color);
   color: white;
   padding: 20px;
   font-size: x-large;
}
.btn-custom:hover{
    background-color: #fff;
    color: var(--main-color);
    border: 1px solid --main-color;
}
.mdi-check{
   
    
}

 