* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-image: url("../images/3188416.jpg");
}
/* section */

section {
  width: 100%;
  z-index: 10;
  padding: 10px 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: fixed;
  top: 0;
}
#fa-solid {
  color: #ff1744;
  font-size: xx-large;
  cursor: pointer;
}
#mastercontainer {
  width: 100%;
  margin-top: 100px;
}
/* ------------all btn contorling div styles--------------- */

#allbtnsdiv{
  /* margin-top: 8%; */
  margin-bottom: 6%;
}
#allbtnsdiv h2{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin: 15px 0;
  color: #ff1744;
}

/* ----------------quiz container div styles----------------- */
#quizz_cont {
  width: 100%;
  display: none;
}
#quizz_cont > form {
  width: 90%;
  margin: auto;
}
#quizz_cont > form > h1 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: 15px 0;
  color: #ff1744;
}
.question_div {
  width: 50%;
  display: flex;
  align-items: center;
  margin: auto;
  transition: ease-in-out 0.3s;
}
.question_div p {
  font-size: 18px;
  margin-right: 10px;
  color: white;
}
.question_div input {
  width: 100%;
  height: 30px;
  border-radius: 8px;
  padding-left: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: linear-gradient(
    90deg,
    rgb(86, 46, 196) 0%,
    rgb(35, 201, 203) 100%
  );
  color: white;
  font-size: 16px;
  margin: 5px;
}
.question_div:hover {
  transform: scale3d(1.02, 1.02, 1.02);
}
.question_div input#que_stion_number {
  width: 77%;
}
.options > div {
  display: flex;
  align-items: center;
  transition: ease-in-out 0.3s;
  width: 50%;
  margin: auto;
}
.options > div:hover {
  transform: scale3d(1.02, 1.02, 1.02);
}
.options > div p {
  font-size: 18px;
  margin-right: 10px;
  color: white;
}
.options > div input {
  width: 100%;
  height: 30px;
  border-radius: 8px;
  padding-left: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: linear-gradient(
    90deg,
    rgb(86, 46, 196) 0%,
    rgb(35, 201, 203) 100%
  );
  color: white;
  font-size: 16px;
  transition: ease-in-out 0.5s;
  margin: 5px;
}
.options > div:last-of-type input {
  background: #b0bec5;
  color: #ff1744;
  width: 100px;
}
.controller_div {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.controller_div button {
  margin: 30px 0px;
  font-size: 15px;
  font-weight: bold;
  padding: 15px 10px;
  border: none;
  border-radius: 5px;
  background-color: #b0bec5;
  transition: ease-in-out 0.5s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.controller_div button:hover {
  color: white;
  background-color: #ff1744;
  cursor: pointer;
}

.one_que {
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.one_que > div {
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 50%;
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
}
.one_que > div > p:first-of-type {
  margin-right: 10px;
}
#qp {
  text-align: center;
  margin: 10px 0;
  color: white;
}
#edit_que {
  width: 90%;
  margin: auto;
  display: none;
}
input::placeholder {
  color: rgb(235, 233, 233);
}

#deletingdiv {
  display: none;
}
#deletingdiv > div > div {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
}

/* ---------------preview styling-------------- */
.preview_question_tab {
  background-color: #ffc107;
  transition: ease-in-out 0.3s;
}
.even_option {
  background-color: #90caf9;
  transition: ease-in-out 0.3s;
}
.odd_option {
  background-color: #b0bec5;
  transition: ease-in-out 0.3s;
}
.ans_option {
  background-color: #a5d6a7;
  transition: ease-in-out 0.3s;
}
.preview_question_tab:hover,
.even_option:hover,
.odd_option:hover,
.ans_option:hover {
  background-color: #ff1744;
  transform: scale3d(1.02, 1.02, 1.02);
}

/* ----------------styles for previous quiz data-------------- */

#previous_quizes h1{
  color: #ff1744;
  font-size: 30px;
  text-align: center;
}

.quiz-container{
  /* border: 2px solid white; */
  padding: 20px 40px;
  color: white;
  font-size: 17px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px 50px;
}

.quiz-container p:nth-child(1){
  color: #ffc107;
  font-size: 27px;
  text-align: center;
  font-weight: bold;
}
.quiz-container ul{
  list-style: none;
}
.answer_que{
  margin-bottom: 15px;
}
.quiz-container li,.quiz-container p{
  transition: ease-in-out 0.2s;
}
.quiz-container li:hover,.quiz-container p:hover{
  color: #ff1744;
}

/* -------------styles for rankings------------ */
#ranks{
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}
#participant-list h1{
  color: #ff1744;
  font-size: 30px;
  text-align: center;
  margin: 10px;
}
#participant-list li{
  padding: 20px 40px;
  list-style: none;
  line-height: 1.5;
  font-size: 17px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px 50px;
  transition: ease-in-out 0.3s;
  margin: 20px 0;
}
#participant-list li h2{
  text-align: center;
  color: #90caf9 ;
}
#participant-list li h2:hover{
  color: #ffc107;
}
#participant-list li p:hover{
  color: #ff1744;
}


/* ---------------styles for deleting quiz room---------- */
.hdelete{
  text-align: center;
  margin: 20px 0;
  color: #ff1744;
}
#deletesubquiz{
  display: none;
}


  /* ----------------styles for footer ----------------------- */
  #footer{
    background-color: #673AB7;
    color: white;
    padding-bottom: 20px;
    margin-top: 20px;
  }
  #footer a{
    color: white;
    text-decoration: none;
  }
  #footer a:hover{
    color: rgb(238, 10, 124);
    transform: scale3d(1.1,1.1,1.1);
    transition: ease-in-out 0.4s;
  }
  #footersubcontainer{
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 2;
  }
  
  #footersubcontainer a{
    color: white;
    text-decoration: underline; 
  }
  #footersubcontainer a:nth-child(2){
    margin-left: 15px;
  }
  #footerbase{
    display: flex;
    justify-content: space-between;
    margin: 0px 4%;
    line-height: 2;
  }
  #footerbase>div:nth-child(1){
    display: flex;
    width: 50%;
    justify-content: space-between;
  }
  .aboutus a{
    display: block;
  }
  #socilmedia{
    display: flex;
    justify-content: space-between;
  }
  #copyrights{
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
  }
  #easypolls{
    margin-left: 15px;
  }
  
  /* -----------------media quries----------------- */
  

/* footer responsive */
@media screen and (max-width: 650px) {
    body {
        font-size: 14px;
      }
      .question_div,.options > div {
        width: 100%;
      }
      .controller_div {
        width: 90%;
      }
      .controller_div button{
        width: 45%;
      }
      #previous_quizes{
        width: 90%;
        margin: auto;
      }
        .one_que > div{
          width: 100%;
        }
        #allbtnsdiv>h2{
          font-size:20px;
          width:90% ;
          margin: auto;
        }
    #footersubcontainer div{
      display: block;
      margin-top: 10px;
    }
  
    #footerbase{
      flex-direction: column;
      margin: 0;
      text-align: center;
    }
  
    #footerbase > div:nth-child(1){
      flex-direction: column;
      width: 100%;
      justify-content: center;
    }
  
    #footerbase > div:nth-child(1) .aboutus {
      margin-bottom: 20px;
    }
  
    #socilmedia{
      margin-bottom: 20px;
    }
  
  }
  

